.bestgear {
  margin-bottom: 200px;
}

.bestgear__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
}
.bestgear__text {
  align-self: center;
}
.bestgear__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  letter-spacing: 0.0894rem;
  span {
    color: #d87d4a;
  }
}
.bestgear__desc {
  font-weight: 400;
  line-height: 1.66;
  font-size: 0.9375rem;
  color: rgba(0, 0, 0, 0.5);
}
.bestgear__img {
  border-radius: 15px;
}
@media (max-width: 991px) {
  .bestgear {
    margin-bottom: 100px;
  }
  .bestgear__box {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 25px;
    text-align: center;
  }
  .bestgear__img {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .bestgear__text {
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 479px) {
  .bestgear__title {
    font-size: 28px;
    margin-bottom: 25px;
  }
}
