.others__title {
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.others__items {
  display: flex;
  gap: 20px;
}

@media (max-width: 770px) {
  .others__items {
    flex-direction: column;
    margin-bottom: 100px;
  }
}
