.btn {
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  line-height: 1.2;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: 0.8125rem;
  transition: all 0.2s linear;
  text-transform: uppercase;
  color: black;

  a {
    color: white;
  }
}
.btn-orange {
  color: white;
  background-color: #d87d4a;
  border: none;
  &:hover {
    background-color: #f8a97c;
  }
}
.btn-black {
  color: white;
  background-color: black;
  border: none;
  &:hover {
    background-color: #4c4c4c;
  }
}
.btn-transparent {
  &:hover {
    background-color: black;
    color: white;
  }
}
