.page-name {
  background-color: #191919;
}
.page-name__title {
  padding-top: 6.5625rem;
  padding-bottom: 6.0625rem;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.0894rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
