.zx7speaker {
  margin-bottom: 50px;
}

.zx7speaker__box {
  position: relative;
  img {
    border-radius: 15px;
    width: 100%;
  }
}
.zx7speaker__text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 100px;
}
.zx7speaker__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .zx7speaker__text {
    transform: translate(0, -50%);
    left: 50px;
  }
  .zx7speaker {
    margin-bottom: 25px;
  }
}
