.footer {
  background-color: #191919;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px;
}

.footer__items {
  display: flex;
  gap: 25px;
}

.footer__item-link {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  &:hover {
    color: #dd6b20;
    opacity: 0.8;
  }
}
.footer__img {
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    top: -30px;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #d87d4a;
  }
}

.active {
  color: #dd6b20;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.footer__desc {
  font-weight: 400;
  line-height: 1.66;
  font-size: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
}
.footer__copyright {
  font-weight: 400;
  line-height: 1.66;
  font-size: 0.9375rem;
  color: rgba(255, 255, 255, 0.5);
  grid-row-start: 2;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 15px;
  grid-row-start: 2;
  svg {
    &:hover {
      path {
        transition: fill 0.2s;
        fill: #d87d4a;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer__row {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 0;
  }
  .footer__img {
    text-align: center;
  }
  .footer__desc {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 479px) {
  .footer__items {
    flex-direction: column;
    text-align: center;
  }
  .footer__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 25px;
    text-align: center;
  }
  .footer__copyright {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer__social {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    margin-bottom: 50px;
  }
}
